bin/
*.log
*.bak
*.swp
*.swo
.project
.classpath
.cproject
.settings/
*.prefs
*.iml
*.class
*.jar
*.war
*.ear
/.recommenders/
*.sublime-workspace
*.sublime-project
.mtj.tmp/
*.class
*.nar
hs_err_pid*
replay_pid*
.metadata
*.tmp
*~.nib
local.properties
.loadpath
.factorypath
*.txt
!expressions.txt